.Reviewcard {
  background: #ffffff;
  border-radius: 7px;
}
.cfont32 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px !important;
  line-height: 48px;
}
.boxshad {
}
