.Templeteheader {
  background: #ffffff;
  border: 1px solid #ececec;
  border-radius: 10px;
}
.modalbtm {
  background: #31ba45;
  border-radius: 5px;
}
.temcard {
  background: #ffffff;
  border: 1px solid #ececec;
  border-radius: 10px;
  margin: 10px;
}
.card {
  border-bottom: 1px solid #ececec;
}
.des {
  background: #ffffff;
  border: 1px solid #ececec;
  border-radius: 10px;
}
.deletbtn {
  width: 159px;
  height: 41px;
  border: none;
  color: white;
  background: #fd494e;
  border-radius: 5px;
}
.edtbtn {
  width: 159px;
  height: 41px;
  border: none;
  background: #dedede;
  border-radius: 5px;
}
