.Faqmain {
  background: #e9eff7;
}
.acodins {
  transition: height 0.5s ease-out;
}
.accordian {
  border-radius: 10px;
  width: 100%;
  height: 60px;
}
.faqbtn {
  width: 159px;
  height: 48px;
  color: white;
  background: #0275d8;
  border: 1px solid #0275d8;
  border-radius: 10px;
}
.contactusbtn {
  border: none;
  background: none;
  color: #0275d8;
}
